
$bg-color: #ebe9e9;
$white-color: #fff;
$light-blue: #f0f5ff;
$dark-gray: #292929;
$headingColor: hsl(245, 17%, 29%);
$buttonHover: #e0e0eefb;
$activeColor: #0858f7;
$accent-color: #e74c3c;
$background-color: #ecf0f1;
$text-color: #2c3e50;
$black-color: #1a1a1a;

  