@use './styles/fonts.scss';
@use './styles/header.scss';
@use './styles/sidebar.scss';
@use './styles/variables.scss' as *;


*{
    box-sizing: border-box;
}

p, h4,h1,h2 ,h3 , button{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--headingColor);
    margin: 0px;
    padding: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--bs-heading-color);
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    font-weight: inherit;
    font-style: inherit;
  }

ol, ul {
    list-style: none ;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body{
    background: $bg-color;
    font-family: "Open Sans" , sans-serif;
}